<form class="item-form" #formRef="ngForm">
  <label>
    <span>Name</span>
    <input type="text" class="input" name="name" placeholder="Name" ngModel>
  </label>
  <label>
    <span>Price</span>
    <input type="number" class="input" name="price" placeholder="Price" ngModel>
  </label>
  <label>
    <span>Icon</span>
    <select class="input" name="icon" ngModel>
      <option *ngFor="let icon of icons" [ngValue]="icon">{{icon}}</option>
    </select>
  </label>
  <div class="item-form-radios">
    <p class="item-form-radios-label">Promo:</p>
    <label>
      <input type="radio" name="promo" [value]="undefined" ngModel> <span>None</span>
    </label>
    <label>
      <input type="radio" name="promo" value="new" ngModel> <span>New</span>
    </label>
    <label>
      <input type="radio" name="promo" value="limited" ngModel> <span>Limited</span>
    </label>
  </div>
  <pre>{{formRef.value | json}}</pre>
</form>